body {
  font-family: Sky !important;
  direction: rtl;
  text-align: right;
  position: relative;
}

@font-face {
  font-family: Sky;
  src: url(../css/sky.ttf);
}

body::-webkit-scrollbar {
  width: 9px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #eee;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #cccccc6e;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #cccccc6e;
  /* creates padding around scroll thumb */
}

::selection {
  background-color: var(--sub-color);
  color: #fff;
}

/* custom */
:root {
  --main-color: #0491BF;
  --sub-color: #0491BF ;
  --gradient: linear-gradient(90deg, #0491BF, #3EC4D4);
  --bg-color: #f0eef1;
  --font-color: #7c8ba4;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

a:hover {
  text-decoration: none;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

a:hover {
  text-decoration: none;
}
.loading {
  display: none;
}
.loader-spin {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  margin: auto;
  border: 16px solid #f3f3f3;
  border-top: 16px solid var(--sub-color);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.line-height {
  line-height: 1.7em;
}
.text-lg {
  font-size: large;
}
.text-m {
  font-size: medium;
}
.text-sm {
  font-size: small;
}
.text-xs {
  font-size: x-small;
}
.text-color {
  color: var(--main-color);
}
.sub-color {
  color: var(--sub-color);
}
/* end custom */
/* navbar */
.navbar {
  padding: 15px 0;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.navbar .nav-link:hover {
  color: var(--sub-color);
}
.navbar .nav-link {
  font-size: 18px;
  color: #333;
  margin: 0px 6px;
  transition: all 0.3s ease-in-out;
}

.navbar .navbar-brand img {
  width: 110px;
}
.navbar .contact_us {
  background: var(--gradient);
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px 8px;
}
/* header */
header {
  background: linear-gradient(to right, #fff 5%, #0491BF 100%);
}
@media(max-width :768px){
  header {
    background: linear-gradient(to right, #0491BF 5%, #0491BF 100%);
  }
}
header .app_img {
  display: flex;
}
.app_links img {
  width: auto;
  max-height: 70px;
}
header .app_img img {
  width: 100%;
}

/* features */
.features .feature {
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.1);
  margin-inline: 20px;
}
.feature_card {
  transition: all 0.3s ease-in-out;
}
.feature_card:hover {
  margin-top: -20px !important;
}
.features .feature_card .before {
  left: 20px;
  top: 0;
  background-color: #f5f3f6;
  height: 200px;
  width: 86%;
  position: absolute;
  z-index: -1;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.feature_card:hover .before {
  top: -30px;
}
.features .feature p {
  font-size: 17px;
}
.features .feature h4 {
  font-weight: bold;
  margin-block: 12px;
}
.features .feature .icon {
  font-size: 30px;
}
/* about */
.about {
  background-color: var(--bg-color);
}
.more_flex {
  display: flex;
  align-items: flex-start;
}
.more_flex .iconn .iconn_i {
  background-color: var(--sub-color);
  color: #fff;
  height: 45px;
  width: 45px;
  text-align: center;
  border-radius: 50%;
  line-height: 3.2em;
}
/* footer */
footer {
  background-color: var(--bg-color);
}
footer .logo {
}
footer .logo img {
  width: auto;
  max-height: 60px;
  margin-bottom: 20px;
}
footer .footer_links {
  margin-top: 20px;
}
footer .footer_links a {
  display: block;
}
footer .footer_links,
footer b {
  padding-inline: 20px;
}
footer .footer_links a {
  margin: 10px 0;
}
footer ul li {
  display: flex;
  align-items: center;
}
footer .social a {
  background-color: #fff;
  color: var(--sub-color);
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  font-size: 20px;
  line-height: 2.3em;
  transition: all 0.3s ease-in-out;
}
footer .social a:hover {
  background-color: var(--sub-color);
  color: #fff;
}
/* scrollUp */
.scrollUp {
  position: fixed;
  bottom: 40px;
  right: 45px;
  z-index: 777;
  display: none;
}
.scrollUp i {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 50%;
  padding: 10px 13px;
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  width: 40px;
}
/* term */
.term p {
  color: #777;
}
.term h3,
.term p {
  text-align: center;
}
.term .term_card i {
  font-size: 25px;
  color: var(--sub-color);
}
.term .term_card {
  transition: all 0.3s ease-in-out;
  height: 95%;
}
.term .term_card:hover {
  transform: scale(1.1);
}
@media (width <= 820px) {
  .navbar .contact_us {
    margin-top: 4px;
    margin-right: 40px;
    display: inline-block;
  }
  .features .feature_card .before {
    width: 89%;
  }
  .text-lg {
    font-size: medium;
  }
  .download_app .row {
    flex-direction: column-reverse;
  }
  h2 {
    font-size: 29px;
  }
  .social {
    margin: 20px 0;
  }
  .navbar .navbar-brand img {
    width: 145px;
  }
}

.service-coming-soon{
  background-color: #30B0C7;
}
